<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mesplus.WIP.dao.OperationDao">

	<resultMap id="OperMap" type="com.mesplus.WIP.model.Operation">
		<result property="factory_id" column="factory"></result>
		<result property="oper_id" column="oper"></result>
		<result property="desc" column="oper_desc"></result>
	</resultMap>

	<select id="selectOperations" parameterType="map" resultMap="OperMap">
		SELECT factory, oper, oper_desc from mwipoprdef WHERE factory = #{factory}
	</select>
</mapper>