*{font-family:tahoma}

/* msg */
.msg .x-box-mc {font-size:14px;}
#msg-div {position:absolute;right:2%;bottom:30px;width:300px;z-index:20000;}
#msg-div .msg {
    border-radius:5px;
    -moz-border-radius:5px;
    background: #ffffff;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}
#msg-div .msg h3 {margin: 0 0 8px;font-weight: bold;font-size: 15px;}
#msg-div .msg p {margin: 0;}

/* app menu */
.appMenu .x-btn-default-toolbar-small .x-btn-inner{color:#d7d7d7 !important;line-height:1.5 !important}
.appMenu .x-btn-default-toolbar-small-over,.appMenu .x-btn-default-toolbar-small-menu-active,
.appTool .x-btn-default-toolbar-large-over,.appTool .x-btn-default-toolbar-large-menu-over,
.appTool .x-btn-default-toolbar-large-pressed{background:url('../image/bgBlackGradient.png') repeat-x !important;}
.appMenu .x-btn-default-toolbar-small-over,.appMenu .x-btn-default-toolbar-small-menu-active{border-color:#111 !important}
.appTool .x-btn-default-toolbar-large-over,.appTool .x-btn-default-toolbar-large-menu-over{border-color:#474c59 !important}
.appTool .x-btn-default-toolbar-large-pressed{border-color:#5f93d4;}

/* menu background for IE */
.x-nbr .x-btn-default-toolbar-small-over .x-frame-tl,.x-nbr .x-btn-default-toolbar-small-over .x-frame-tc,.x-nbr .x-btn-default-toolbar-small-over .x-frame-tr,
.x-nbr .x-btn-default-toolbar-small-over .x-frame-ml,.x-nbr .x-btn-default-toolbar-small-over .x-frame-mc,.x-nbr .x-btn-default-toolbar-small-over .x-frame-mr,
.x-nbr .x-btn-default-toolbar-small-over .x-frame-bl,.x-nbr .x-btn-default-toolbar-small-over .x-frame-bc,.x-nbr .x-btn-default-toolbar-small-over .x-frame-br,
.x-nbr .x-btn-default-toolbar-large-over .x-frame-tl,.x-nbr .x-btn-default-toolbar-large-over .x-frame-tc,.x-nbr .x-btn-default-toolbar-large-over .x-frame-tr,
.x-nbr .x-btn-default-toolbar-large-over .x-frame-ml,.x-nbr .x-btn-default-toolbar-large-over .x-frame-mc,.x-nbr .x-btn-default-toolbar-large-over .x-frame-mr,
.x-nbr .x-btn-default-toolbar-large-over .x-frame-bl,.x-nbr .x-btn-default-toolbar-large-over .x-frame-bc,.x-nbr .x-btn-default-toolbar-large-over .x-frame-br,
.x-nbr .x-btn-default-toolbar-small-menu-active .x-frame-tl,.x-nbr .x-btn-default-toolbar-small-menu-active .x-frame-tc,.x-nbr .x-btn-default-toolbar-small-menu-active .x-frame-tr,
.x-nbr .x-btn-default-toolbar-small-menu-active .x-frame-ml,.x-nbr .x-btn-default-toolbar-small-menu-active .x-frame-mc,.x-nbr .x-btn-default-toolbar-small-menu-active .x-frame-mr,
.x-nbr .x-btn-default-toolbar-small-menu-active .x-frame-bl,.x-nbr .x-btn-default-toolbar-small-menu-active .x-frame-bc,.x-nbr .x-btn-default-toolbar-small-menu-active .x-frame-br
{background:none}
.appMenu .x-panel-body-default{border-color:#9DA8B2}
.x-menu-body{margin-top:2px;border:1px solid #9ea8b3 !important}
.appMenu .x-btn-arrow-right{background:url('../image/arrowDownDefault.gif') 102% 5px no-repeat;background-position/*\**/:98% 5px\9;}
.appMenu .x-btn-arrow-right:hover{background:url('../image/arrowDownOver.gif') 102% 5px no-repeat;}
.appMenu .x-btn-default-toolbar-small-icon-text-left .x-btn-inner{padding-left:4px;margin-right:4px}
.appMenu .x-form-text{
	border:1px solid #515869;background-color:#202228;background-image:none;
	-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;
	color:#a7b6dc
}
.x-menu-scroll-top-disabled,.x-box-scroller-bottom{display:none}
#sidemenu .x-form-trigger{background:url('../image/inputSearch.gif') no-repeat;margin-left:-6px;border-bottom:0;position:relative;z-index:100}
#sidemenu .x-form-trigger-over{background:url('../image/inputSearch.gif') -24px 0 no-repeat;margin-left:-6px;border-bottom:0;z-index:100}
.appSearchItem{color:#666;font-size:10px}
.appSearchItem .kind{color:#1B4C86}
.appSearchItem .key{margin-right:4px;font-weight:bold;color:#333}

/* dock bar */
.operation-list div,.resource-list div,.report-list div,.communicator-list div{margin-top:3px;padding:2px 3px 2px 20px;font-size:11px;cursor:pointer;border:1px solid #fff;border-bottom:1px dotted #A3BAE9;}
.operation-list-item {background:url('../image/iconOperation16.png') 2px 2px no-repeat;}
.resource-list-item {background:url('../image/iconResource16.png') 2px 2px no-repeat;}
.report-list-item {background:url('../image/iconReport16.png') 2px 2px no-repeat;}
.operation-list,.resource-list,.report-list{padding: 0 3px 0 3px;}
.operation-list .x-item-selected,.resource-list .x-item-selected,.report-list .x-item-selected{font-weight: bold;color: #15428B;background-color: #DFE8F6;border: 1px dotted #A3BAE9;}
.operation-list-item-hover,.resource-list-item-hover,.communicator-list-item-hover{background-color: #eee;}
.iconsetDockMenu{background:url('../image/iconMenu16.png') 0 1px no-repeat;background-position/*\**/:0 0\9;}
.iconsetDockFavor{background:url('../image/iconFavorit16.png') -1px 1px no-repeat;background-position/*\**/:0 0\9;}
.iconsetDockResource{background:url('../image/iconResource16.png') 0 1px no-repeat;background-position/*\**/:0 0\9;}
.iconsetDockOperation{background:url('../image/iconOperation16.png') 0 1px no-repeat;background-position/*\**/:0 0\9;}
.iconsetDockReport{background:url('../image/iconReport16.png') -1px 0 no-repeat;background-position/*\**/:0 0\9;}
.iconsetDockCommunicator{background:url('../image/iconCommunicator16.png') -1px 0 no-repeat;background-position/*\**/:0 0\9;}
.communicator-list-item.off{background:url('../image/statusOff.png') 1px 2px no-repeat;}
.communicator-list-item.on{background:url('../image/statusOn.png') 1px 2px no-repeat;}
@-moz-document url-prefix()
{.nav .x-tab button .x-tab-icon,.nav .x-tab a .x-tab-icon{top:-10px}}
.noBorderPanel .x-panel-body-default,.noBorderPanel{border:0}

.x-toolbar.appMenu,.x-toolbar.appTool{border:0}
.x-nlg .x-toolbar.appmenu,.x-toolbar.appmenu{background:url('../image/bgAppMenu.gif') repeat-x !important;}
.x-nlg .x-toolbar.appTool,.x-toolbar.appTool{background:url('../image/bgAppQuickIcon.gif') repeat-x !important;}
.appTool .x-toolbar-item{margin:0 5px}
.x-tab em{padding-top:1px;padding-left:4px}
.x-toolbar-default-docked-top,.x-nlg .nav .x-toolbar-default{background:url('../image/bgDockedTop.png') repeat-x !important;height:22px;top:-1px}

.nav .x-panel-header-text-default{color:#efefef;}
.nav .x-panel-header-default{background:url('../image/bgDockHeader.gif') repeat-x;background-color:#5875a0;border:none;height:27px}
.nav .x-panel-header-default-top{box-shadow:none}
.nav .x-tab button{overflow-x:hidden}
.x-region-collapsed-placeholder .x-tool img,.x-region-collapsed-placeholder .x-tool img{background:none}
.nav .x-tool-collapse-left,.x-tool-expand-left{background:url('../image/iconBtnSet.gif') 0 2px no-repeat !important;}
.nav .x-tab em{padding-left/*\**/:2px\9;}
.nav .x-tool-collapse-right,.x-tool-expand-right{background:url('../image/iconBtnSet.gif') -15px 2px no-repeat  !important;}
.nav .x-tab-bar-strip{display/*\**/:none\9}
.x-tool-expand-left{margin-left:3px !important}

.nav .x-tool-collapse-right,.x-tool-expand-right{background:url('../image/iconBtnSet.gif') -15px 2px no-repeat;}
.x-panel-header-default-left,.x-panel-header-default-right{background:url('../image/bgDockCollapsed.gif') 50% 0 repeat-y;width:26px;border-width:0;left:-1px}
.x-nlg .x-panel-header-default-left,.x-nlg .x-panel-header-default-right{background:url('../image/bgDockCollapsed.gif') 50% 0 repeat-y;width:26px;border-width:0;left:-1px}
.x-panel-header-default-left{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none}
.x-panel-body-default{border-top:1px}
.navRefreshBtn{background:url('../image/iconDockedRefreshOff.png') 0 1px no-repeat !important;width:19px;height:17px;}
.navClearBtn{background:url('../image/iconDockedClearOff.png') 0 1px no-repeat !important;width:19px;height:17px;}
.navRefreshBtn:hover{background:url('../image/iconDockedRefreshOn.png') no-repeat !important;}
.navClearBtn:hover{background:url('../image/iconDockedClearOn.png') no-repeat !important;}
.x-toolbar-default-docked-top .x-btn-default-toolbar-small{border:0}
.x-toolbar-default-docked-top .x-btn-default-toolbar-small-hover{border:0}
.x-toolbar-default-docked-bottom{ background-color:#dbeafd;border-width:1px 0 0 0}

/*search panel*/
.supplement .x-form-item-label,.supplement .x-fieldset-header{margin-top:3px;color:#5371a7;font-size:11px;}
.supplement .x-form-item-body{margin-top:-2px}
.supplement .x-form-trigger-wrap-focus .x-form-trigger{background-position:-24px 0}
.supplement .x-form-trigger-wrap-focus .x-form-trigger.x-form-spinner-up{background-position:0 0}
.supplement .x-form-trigger-wrap-focus .x-form-trigger.x-form-spinner-down{background-position:0 -11px}
.supplement .x-fieldset{padding:3px;background-color:#f6f6f6}
.supplement fieldset .x-form-item{margin-bottom:1px}
.supplement fieldset .x-form-item .x-form-cb-wrap{padding-top:10px}
.supplement .x-fieldset-body .x-form-item-label{color:#585858}
.supplement .x-form-cb-label-after{color:#585858;font-size:11px}
.supplement .x-fieldset.fieldsetCheckbox{padding:3px 7px}
.supplement .fieldsetRadioGroup{padding-left:3px}
.supplement .hboxLine .x-form-item-body,.supplement .datetime .x-form-item-body{margin-top:0px}
.supplement .datetime{height:50px;width:90%}
.supplement .supplementRefresh{background:url('../image/IconRefresh.png') no-repeat;height:20px;margin-right:4px;border:0;padding:0}
.supplement .supplementRefresh:hover{background:url('../image/IconRefresh.png') -25px 0 no-repeat;}
.supplement .x-toolbar-default-docked-bottom{ background-color:#f0f0f0;padding-right:5px}
.supplement .bottomTextField .x-form-item-body{margin:0 4px 0 0}
.x-form-trigger-wrap .x-form-spinner-up-over{background-position:-17px 0}

/* status bar */
.x-nlg .appStatusBar,.appStatusBar{background:url('../image/bgAppFooter.gif') repeat-x !important;}
.trayNotice{
	background:url('../image/bgStatusBarCount.gif') repeat-x !important;border:1px solid #efefef;height:19px;
	-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin-right:5px;padding-right/*\**/:10px\9;
}
.trayNotice .x-btn-inner{color:#7ac4fe !important;line-height:12px !important;line-height/*\**/:15px\9;}
.trayNotice .trayNoticeIcon{background:url('../image/iconStatusBarNotice.gif') no-repeat;width:15px;height:12px;margin:1px 0 0 1px;margin/*\**/:3px 0 0 1px\9;}

/* splitter handle*/
.x-splitter-vertical{background:url('../image/bgSplitterVertical.gif') repeat-y;}
.x-layout-split-left{background:url('../image/arrowSplitterLeft.gif') no-repeat !important;height:38px}
.x-layout-split-right{background:url('../image/arrowSplitterRight.gif') no-repeat !important;height:38px}

/* tab*/
.x-tab-bar-top .x-tab-bar-body{border:none}
.x-tab-default-top,.x-tab-default-bottom{box-shadow:none}
.x-border-box .x-tab-bar-top .x-tab-bar-body{height:27px}
.x-tab-bar-top .x-tab-bar-body{padding-top:6px;padding-top/*\**/:4px\9;}
.x-box-scroller-left .x-toolbar-scroll-left, .x-box-scroller-left .x-tabbar-scroll-left{background:url('../image/tabNavi.gif') 0 -3px no-repeat;width:18px;}
.x-box-scroller-left .x-toolbar-scroll-left, .x-box-scroller-left .x-tabbar-scroll-left-hover{background:url('../image/tabNavi.gif') -18px -3px no-repeat;width:18px;}
.x-box-scroller-right .x-toolbar-scroll-right, .x-box-scroller-right .x-tabbar-scroll-right{background:url('../image/tabNavi.gif') 0 -27px no-repeat;width:18px;}
.x-box-scroller-right .x-toolbar-scroll-right, .x-box-scroller-right .x-tabbar-scroll-right-hover{background:url('../image/tabNavi.gif') -18px -27px no-repeat;width:18px;}
.nav .x-box-scroller-left .x-toolbar-scroll-left, .nav .x-box-scroller-left .x-tabbar-scroll-left{background:url('../image/tabNavi.gif') 0 1px no-repeat;width:18px;}
.nav .x-box-scroller-left .x-toolbar-scroll-left, .nav .x-box-scroller-left .x-tabbar-scroll-left-hover{background:url('../image/tabNavi.gif') -18px 1px no-repeat;width:18px;}
.nav .x-box-scroller-right .x-toolbar-scroll-right,.nav .x-box-scroller-right .x-tabbar-scroll-right{background:url('../image/tabNavi.gif') 0 -23px no-repeat;width:18px;}
.nav .x-box-scroller-right .x-toolbar-scroll-right,.nav .x-box-scroller-right .x-tabbar-scroll-right-hover{background:url('../image/tabNavi.gif') -18px -23px no-repeat;width:18px;}
.x-tab-tabmenu-right{background:url('../image/tabNavi.gif') 0 -51px no-repeat !important;width:18px;}
.x-tab-tabmenu-right:hover{background:url('../image/tabNavi.gif') -18px -51px no-repeat !important;width:18px;}
.x-panel-default-scroller{margin-top:-5px}
.x-nlg .x-tab-bar{background:url('../image/bgTabbarForIE.gif') repeat-x !important;}
#content-body .x-tab-bar{background:url('../image/bgInnerTab.gif') 0 100% repeat-x !important;}
#content-body .x-tabpanel-child .x-tab-bar-body{border:0;}
#content-body .x-tab{border:1px solid #a9c5e8;border-width:1px 1px 0 1px}
#content-body .x-tab-bar-top .x-tab-bar-body{padding-top:5px;height:24px;}
#content-body .x-tab-default-top{padding:1px 4px 0 4px;background-image:none;background-color:#DBEAFD !important}
#content-body .x-tab button{color:#6e91bd}
#content-body .x-tab-active button{color:#5371A7 !important}
#content-body .x-tab-default-top-active{background-color:#fff !important;backbround-image:none}
.nav .x-tab-bottom span.x-tab-inner{display:none;}
.x-nbr .x-tab-top-active .x-frame-ml,.x-nbr .x-tab-top-active .x-frame-mc,.x-nbr .x-tab-top-active .x-frame-mr,
.x-nbr .x-tab-bottom-active .x-frame-ml,.x-nbr .x-tab-bottom-active .x-frame-mc,.x-nbr .x-tab-bottom-active .x-frame-mr
{background-image/*\**/:none !important\9;background-color/*\**/:#fff !important\9;}
#content-body .x-box-scroller-left .x-toolbar-scroll-left,#content-body .x-box-scroller-left .x-tabbar-scroll-left{background:url('../image/tabNaviInContent.gif') no-repeat;width:18px;height:19px}
#content-body .x-box-scroller-right .x-toolbar-scroll-right,#content-body .x-box-scroller-right .x-tabbar-scroll-right{background:url('../image/tabNaviInContent.gif') 0 -19px no-repeat;width:18px;height:19px}
#content-body .x-box-scroller-left .x-toolbar-scroll-left-hover,#content-body .x-box-scroller-left .x-tabbar-scroll-left-hover{background:url('../image/tabNaviInContent.gif') -18px 0 no-repeat;width:18px;height:19px}
#content-body .x-box-scroller-right .x-toolbar-scroll-right-hover,#content-body .x-box-scroller-right .x-tabbar-scroll-right-hover{background:url('../image/tabNaviInContent.gif') -18px -19px no-repeat;width:18px;height:19px}

/* tree style*/
.x-tree-icon-parent{background:url('../image/folder.gif') no-repeat;}
.x-grid-tree-node-expanded .x-tree-icon-parent{background:url('../image/folder-open.gif') no-repeat;}
.x-tree-icon-leaf{background:url('../image/leaf.gif') no-repeat;}
.x-tree-lines .x-tree-elbow-plus{background:url('../image/elbow-plus.gif') no-repeat;}
.x-tree-lines .x-tree-elbow-end-plus{background:url('../image/elbow-end-plus.gif') no-repeat;}
.x-tree-lines .x-grid-tree-node-expanded .x-tree-elbow-end-plus{background:url('../image/elbow-end-minus.gif') no-repeat;}
.x-tree-lines .x-grid-tree-node-expanded .x-tree-elbow-plus{background:url('../image/elbow-minus.gif') no-repeat;}

/* form */
.x-form-trigger{background:url('../image/trigger.gif') no-repeat;margin-left:-1px;width:24px}
.x-form-trigger-over{background:url('../image/trigger.gif') -24px 0 no-repeat}
.x-form-date-trigger{background:url('../image/date-trigger.gif') no-repeat;margin-left:-1px;width:24px}
.x-form-date-trigger-over,.x-form-date-trigger-click,.x-form-date-trigger-pressed{background:url('../image/date-trigger.gif') -24px 0 no-repeat;margin-left:-1px;width:24px}

.x-boundlist-item{background:url('../image/arrowRightGray.gif') 4px 8px no-repeat;padding:4px 4px 4px 11px;color:#333;font-size:11px;border-bottom:1px dotted #ccc;}
.x-boundlist-item-over{background:url('../image/arrowRightBlue.gif') 4px 8px no-repeat;background-color:#fff;padding:4px 4px 4px 11px}

.x-form-item-label{color:#585858;padding-left:4px}

/* x progress bar style*/
.x-progress{border:1px solid #f5f4f5;height:11px;background-color:#2a2a2a;-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;}

/* grid style*/
.x-column-header-align-center,.x-column-header-align-left,.x-column-header-align-right{text-align:center !important}
#content-body .x-grid-header-ct{border-width:1px 0}

/* panel style*/
#content-body .x-panel .x-grid-body{border-width:0}

/*floating panel*/
.x-boundlist-floating{
	background:url('../image/bgFloatingPanel.gif') repeat-x;background-color:#e6e6e6;
	-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
	border:1px solid #999
}

/* login page style*/
.welcome{background:url('../image/bgWelcomeHeader.gif') repeat-x;background-color:#ececec;margin:0;padding:0;text-align:center}
.welcomeMent{background:url('../image/iconWelcomeFactory.png') 0 -2px no-repeat;padding:0px 0 0 165px;margin:3px 0 0 15px;height:90px;color:#fff;font-size:24px;text-align:left}
.welcomeMent span{font-weight:bold}
.productName{font-size:14px;color:#92c3f5;display:block;margin-bottom:18px}
.welcome form{margin:50px auto;width:250px;text-align:left}
.welcome label{text-transform:capitalize;font-size:14px;color:#333}
.welcome .loginInput{margin:3px 0 20px 0;width:250px;font-size:18px;}
.welcome .btnWelcomeLogin{
	background:url('../image/bgBtnBlue.gif') no-repeat;
	float:right;margin-top:-5px;
	width:100px;height:31px;display:inline-block;
	color:#fff;font-size:14px;text-align:left;
	border:0;
	padding-left /*\**/:7px\9;
	margin-top /*\**/:-25px\9;
}
.welcome .btnWelcomeLogin:hover{background:url('../image/bgBtnGreen.gif') no-repeat;cursor:pointer}
.btnline{margin-top:20px}
.welcome .btnline label{font-size:12px;color:#666}
.introImg{background:url('../image/introImg.gif') 50% 50% no-repeat;}
.defaultSupplementImg{background:url('../image/bgSupplement.gif') 50% 50% no-repeat;}

/* button style*/
.x-btn-default-small,#content-body .x-btn-default-toolbar-small{background:url('../image/bgBtn.gif') repeat-x;padding:1px}
.x-btn-default-small-over,#content-body .x-btn-default-toolbar-small-over{background:url('../image/bgBtnOver.gif') repeat-x;padding:1px}
#content-body .x-btn-default-toolbar-small{border-color:#b0b0b0}
.x-toolbar-footer-docked-bottom{border:1px solid #cfcfcf;border-width:1px 0 0px 0 !important;height:27px;background-color:#f0f0f0}
#content-body .x-toolbar-footer-docked-bottom{border:none !important;height:26px}
.btnCodeView{background:url('../image/iconCodeView.gif') -4px 2px no-repeat;height:21px !important}
.x-over .btnCodeView{background:url('../image/iconCodeView.gif') -29px 2px no-repeat;height:21px !important}
.supplement .x-btn-default-small-icon button{height:18px}

/* picker style*/
table.x-datepicker-inner .x-datepicker-today a{color:#cc3300}
.x-datepicker-prev{background:url('../image/iconBtnSet.gif') 0 2px repeat-x;width:12px;margin-left:3px}
.x-datepicker-next{background:url('../image/iconBtnSet.gif') 100% 2px repeat-x;width:14px;margin-left:3px}

/* window style*/
.x-tool-refresh, .x-tool-over .x-tool-refresh,.x-tool img.x-tool-refresh{background:url('../image/modalIcons.gif') 0 0px no-repeat;}
.x-tool-close, .x-tool-over .x-tool-close,.x-tool img.x-tool-close{background:url('../image/modalIcons.gif') -15px 0px no-repeat;}
.x-window-header-default-top{background:url('../image/bgDockHeader.gif') 0 -2px repeat-x;height:23px;}
.x-window-default{padding:0;border-width:0;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;background-color:#57729d}
.x-window-header-default-top{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;border:0}
.x-window-header-text-default{color:#efefef;line-height:15px}
.x-window-body-default{border:3px solid #57729D}
.windowSearchField{background:url('../image/bgWindowSearchField.gif') repeat-x;padding:14px 3px 0 3px}
.x-window .x-panel-body-default{background:transparent;border:0}


/* file upload style*/
.fileUpload{ position:relative; width: 100%;}
.btnUpload {
    background:url('../image/btnUpload.gif') no-repeat;display:block;width:105px;height:23px;padding:2px 0 0 24px;margin-left:3px;font-size:11px}
.btnUpload-hover,.btnUpload-focus{background:url('../image/btnUpload.gif') 0 -23px no-repeat;color:#4069a6}
.uploadArea {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#e3edfb;border:1px dashed #4f7ec3;text-align:center; 
    -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
}
.uploadArea span {display:block; position:absolute; top: 50%; width:100%; margin-top:-8px;font-size:14px;color:#3664a7}
.uploadArea-active {background:#d0e0f6;}
.uploadFileList {margin:5px 5px;padding:0;}
.uploadFileList li {background:url('../image/iconClip.png') 2px 55% no-repeat;padding:3px 5px 2px 20px;line-height:15px; font-size:12px;}
.uploadFileList li *{vertical-align:middle}
.uploadFileList .fileName, .spinner, .fileSize, .qq-upload-cancel, .uploadFailed{margin-right: 7px;}
.spinner {display:inline-block; background: url("../image/iconSpinner.gif"); width:15px; height:15px; vertical-align:text-bottom;opacity:0.7;filter:alpha(opacity=70);}
.fileSize,.uploadCancel{font-size:11px;color:#666}
.uploadDelete{background:url('../image/tab-default-close.gif') 50% 50% no-repeat;width:20px;height:18px;display:inline-block;cursor:pointer}
.uploadFailed {display:none;color:#ef4e16}
.qq-upload-fail .uploadFailed{display:inline;}

/*accordion*/
.x-accordion-hd{background:url('../image/bgAccordion.gif') repeat-x !important;padding:4px 7px 3px 7px}

.x-toolbar-footer{margin-top:0}

/* menu icon style */
.icon_FAV1001{background:url('../image/menuIcon/1_1_14_Favorite_Setup_16.png') no-repeat;}
.icon_MSG1000,.icon_MSG1001{background:url('../image/menuIcon/2_1_1_Message_Setup_16.png') no-repeat;}
.icon_SEC1000,.icon_SEC1002{background:url('../image/menuIcon/2_2_2_Security_Group_Setup_16.png') no-repeat;}
.icon_SEC1003{background:url('../image/menuIcon/2_2_4_Function_Setup_16.png') no-repeat;}
.icon_SEC1004{background:url('../image/menuIcon/2_2_3_Assign_Function_to_Security_Group_16.png') no-repeat;}
.icon_SEC1006{background:url('../image/menuIcon/2_2_6_Privilege_Group_User_Relation_Setup_16.png') no-repeat;}
.icon_SEC1007{background:url('../image/menuIcon/2_2_7_Privilege_Definition_Setup_16.png') no-repeat;}
.icon_GCM1001{background:url('../image/menuIcon/2_3_1_General_Code_Table_Setup_16.png') no-repeat;}
.icon_GCM1000,.icon_GCM1002{background:url('../image/menuIcon/2_3_2_General_Code_Data_Setup_16.png') no-repeat;}
.icon_ALM1000,.icon_ALM1001{background:url('../image/menuIcon/2_10_1_Alarm_Setup_16.png') no-repeat;}
.icon_ALM1002{background:url('../image/menuIcon/2_10_2_Attach_Alarm_to_MFOResource_16.png') no-repeat;}
.icon_BAS1000,.icon_BAS1001{background:url('../image/menuIcon/2_12_1_Attribute_Setup_16.png') no-repeat;}
.icon_BAS1002{background:url('../image/menuIcon/2_12_2_Global_Option_Setup_16.png') no-repeat;}
.icon_RAS1000{background:url('../image/menuIcon/2_12_2_Global_Option_Setup_16.png') no-repeat;}
.icon_RAS1001{background:url('../image/menuIcon/2_6_1_Resource_Setup_16.png') no-repeat;}
.icon_RAS1003{background:url('../image/menuIcon/2_6_2_Resource_Group_Setup_16.png') no-repeat;}
.icon_RAS1015{background:url('../image/menuIcon/2_6_3_Resource_Resource_Group_Relation_Setup_16.png') no-repeat;}
.icon_RAS1016{background:url('../image/menuIcon/2_6_4_Resource_MFO_Relation_Setup_16.png') no-repeat;}
.icon_RAS1000,.icon_RAS1004{background:url('../image/menuIcon/2_6_6_Resource_Event_Relation_Setup_16.png') no-repeat;}
.icon_RAS1018{background:url('../image/menuIcon/2_6_16_Carrier_Group_Relation_Setup_16.png') no-repeat;}
.icon_RAS1008{background:url('../image/menuIcon/2_6_14_Carrier_Setup_16.png') no-repeat;}
.icon_RAS1022{background:url('../image/menuIcon/2_6_17_Carrier_Event_Setup_16.png') no-repeat;}
.icon_RAS1005{background:url('../image/menuIcon/2_6_7_Resource_Labor_Setup_16.png') no-repeat;}
.icon_RAS1007{background:url('../image/menuIcon/2_6_9_PM_Security_Setup_16.png') no-repeat;}
.icon_RAS1010{background:url('../image/menuIcon/2_6_19_Tool_Event_Setup_16.png') no-repeat;}
.icon_RAS1012{background:url('../image/menuIcon/2_6_20_Tool_Setup_16.png') no-repeat;}
.icon_RAS1013{background:url('../image/menuIcon/2_6_21_Tool_Event_Relation_Setup_16.png') no-repeat;}
.icon_RAS1020{background:url('../image/menuIcon/2_6_12_Attach_Query_to_Check_List_16.png') no-repeat;}
.icon_BOM1000,.icon_BOM1001{background:url('../image/menuIcon/2_5_1_BOM_Set_Setup_16.png') no-repeat;}
.icon_BOM1002{background:url('../image/menuIcon/2_5_2_Attach_Material_Setup_16.png') no-repeat;}
.icon_BOM1003{background:url('../image/menuIcon/2_5_3_Approval_and_Release_Setup_16.png') no-repeat;}
.icon_EDC1001{background:url('../image/menuIcon/2_7_1_Character_Setup_16.png') no-repeat;}
.icon_EDC1000,.icon_EDC1002{background:url('../image/menuIcon/2_7_2_Collection_Set_Setup_16.png') no-repeat;}
.icon_EDC1003{background:url('../image/menuIcon/2_7_3_Attach_Character_16.png') no-repeat;}
.icon_EDC1004{background:url('../image/menuIcon/2_7_4_Attach_Collection_Set_to_MFO_16.png') no-repeat;}
.icon_EDC1005{background:url('../image/menuIcon/2_7_5_Approval_and_Release_16.png') no-repeat;}
.icon_RTD1000,.icon_RTD1001{background:url('../image/menuIcon/2_9_3_Dispatcher_Setup_16.png') no-repeat;}
.icon_RTD1002{background:url('../image/menuIcon/2_9_1_Dispatcher_Rule_Setup_16.png') no-repeat;}
.icon_RTD1003{background:url('../image/menuIcon/2_9_5_Dispatcher_Relation_Setup_16.png') no-repeat;}
.icon_RTD1004{background:url('../image/menuIcon/2_9_4_Dispatcher_Simulation_Setup_16.png') no-repeat;}
.icon_RTD1005{background:url('../image/menuIcon/2_9_2_Dispatcher_Rule_Item_Setup_16.png') no-repeat;}
.icon_RTD1006{background:url('../image/menuIcon/2_9_6_Reference_Operation_Setup_16.png') no-repeat;}
.icon_RTD1007{background:url('../image/menuIcon/2_9_7_Dispatch_Event_Configuration_Setup_16.png') no-repeat;}
.icon_QCM1000,.icon_QCM1001{background:url('../image/menuIcon/2_11_1_Sampling_Procedure_Setup_16.png') no-repeat;}
.icon_QCM1002{background:url('../image/menuIcon/2_11_2_Inspection_Item_Setup_16.png') no-repeat;}
.icon_QCM1003{background:url('../image/menuIcon/2_11_3_Inspection_Set_Setup_16.png') no-repeat;}
.icon_QCM1004{background:url('../image/menuIcon/2_11_4_Attach_Inspection_Item_to_Version_16.png') no-repeat;}
.icon_QCM1005{background:url('../image/menuIcon/2_11_5_Approval_and_Release_Inspection_Set_Version_16.png') no-repeat;}
.icon_QCM1006{background:url('../image/menuIcon/2_11_6_Inspection_Material_Setup_16.png') no-repeat;}
.icon_POP1000,.icon_POP1001{background:url('../image/menuIcon/2_13_1_Label_Setup_16.png') no-repeat;}
.icon_POP1002{background:url('../image/menuIcon/2_13_2_Label_Design_Setup_16.png') no-repeat;}
.icon_POP1003{background:url('../image/menuIcon/2_13_3_Material_Label_Setup_16.png') no-repeat;}
.icon_POP1004{background:url('../image/menuIcon/2_13_4_Image_Setup_16.png') no-repeat;}
.icon_WIP2000,.icon_WIP2001{background:url('../image/menuIcon/3_1_1_Create_Lot_16.png') no-repeat;}
.icon_WIP2003{background:url('../image/menuIcon/3_1_3_Multi_Start_Lot_16.png') no-repeat;}
.icon_WIP2060,.icon_WIP2062{background:url('../image/menuIcon/3_1_2_Start_Lot_16.png') no-repeat;}
.icon_WIP2004,.icon_WIP2063,.icon_WIP2061{background:url('../image/menuIcon/3_1_4_End_Lot_16.png') no-repeat;}
.icon_WIP2005{background:url('../image/menuIcon/3_1_5_Multi_End_Lot_16.png') no-repeat;}
.icon_WIP2006{background:url('../image/menuIcon/3_1_6_Move_Lot_16.png') no-repeat;}
.icon_WIP2022{background:url('../image/menuIcon/3_1_18_Ship_Lot_16.png') no-repeat;}
.icon_WIP2007{background:url('../image/menuIcon/3_1_8_Rework_Lot_16.png') no-repeat;}
.icon_WIP2024{background:url('../image/menuIcon/3_1_10_Repair_End_Lot_16.png') no-repeat;}
.icon_WIP2025{background:url('../image/menuIcon/3_1_11_Local_Repair_Lot_16.png') no-repeat;}
.icon_WIP2009{background:url('../image/menuIcon/3_1_13_Merge_Lot_16.png') no-repeat;}
.icon_WIP2010{background:url('../image/menuIcon/3_1_14_Combine_Lot_16.png') no-repeat;}
.icon_WIP2013{background:url('../image/menuIcon/3_1_17_Release_Lot_16.png') no-repeat;}
.icon_WIP2014{background:url('../image/menuIcon/3_1_18_Ship_Lot_16.png') no-repeat;}
.icon_WIP2015{background:url('../image/menuIcon/3_1_19_Receive_Lot_16.png') no-repeat;}
.icon_WIP2017{background:url('../image/menuIcon/3_1_21_Loss_Lot_16.png') no-repeat;}
.icon_WIP2018{background:url('../image/menuIcon/3_1_22_Bonus_Lot_16.png') no-repeat;}
.icon_WIP2026{background:url('../image/menuIcon/3_1_23_Store_Lot_16.png') no-repeat;}
.icon_WIP2049{background:url('../image/menuIcon/3_1_35_Multi_Terminate_Lot_16.png') no-repeat;}
.icon_WIP2019,.icon_WIP2059{background:url('../image/menuIcon/3_1_25_Delete_Lot_History_16.png') no-repeat;}
.icon_WIP2054{background:url('../image/menuIcon/3_1_37_Unreserve_Lot_16.png') no-repeat;}
.icon_WIP2021{background:url('../image/menuIcon/3_1_27_Close_Return_Lot_16.png') no-repeat;}
.icon_WIP2029{background:url('../image/menuIcon/3_1_29_Release_Batch_16.png') no-repeat;}
.icon_WIP2050{background:url('../image/menuIcon/3_1_38_Make_SubLot_Batch_16.png') no-repeat;}
.icon_WIP2051{background:url('../image/menuIcon/3_1_39_Reserve_Lot_Batch_16.png') no-repeat;}
.icon_WIP2052{background:url('../image/menuIcon/3_1_40_Reserve_SubLot_Batch_16.png') no-repeat;}
.icon_WIP2030{background:url('../image/menuIcon/3_1_30_Start_Batch_16.png') no-repeat;}
.icon_WIP2031{background:url('../image/menuIcon/3_1_31_End_Batch_16.png') no-repeat;}
.icon_WIP2033{background:url('../image/menuIcon/3_1_33_Clean_Lot_Defect_16.png') no-repeat;}
.icon_WIP2035{background:url('../image/menuIcon/3_6_1_Start_Sub_Lot_16.png') no-repeat;}
.icon_WIP2036{background:url('../image/menuIcon/3_6_2_End_Sub_Lot_16.png') no-repeat;}
.icon_WIP2037{background:url('../image/menuIcon/3_6_3_Rework_Sub_Lot_16.png') no-repeat;}
.icon_WIP2040{background:url('../image/menuIcon/3_6_7_Merge_Extension_16.png') no-repeat;}
.icon_WIP2041{background:url('../image/menuIcon/3_6_8_Combine_Extension_16.png') no-repeat;}
.icon_WIP2034,.icon_WIP2043{background:url('../image/menuIcon/3_6_10_Sort_Extension_16.png') no-repeat;}
.icon_WIP2044{background:url('../image/menuIcon/3_6_11_Change_CMF_Value_WIP_16.png') no-repeat;}
.icon_RAS2001{background:url('../image/menuIcon/3_4_1_Event_16.png') no-repeat;}
.icon_RAS2002{background:url('../image/menuIcon/3_4_3_Delete_Resource_History_16.png') no-repeat;}
.icon_RAS2010{background:url('../image/menuIcon/3_4_4_Delete_Sub_Resource_History_16.png') no-repeat;}
.icon_RAS2003{background:url('../image/menuIcon/3_4_5_Clean_Carrier_16.png') no-repeat;}
.icon_RAS2000,.icon_RAS2004{background:url('../image/menuIcon/3_4_6_Attach_Lot_to_Carrier_16.png') no-repeat;}
.icon_RAS2008{background:url('../image/menuIcon/3_4_7_Attach_Carrier_to_Lot_16.png') no-repeat;}
.icon_RAS2009{background:url('../image/menuIcon/3_4_8_Assign_Sublot_to_Carrier_16.png') no-repeat;}
.icon_RAS2012{background:url('../image/menuIcon/3_4_9_Carrier_ChangeExchange_16.png') no-repeat;}
.icon_RAS2006{background:url('../image/menuIcon/3_4_12_Delete_Tool_History_16.png') no-repeat;}
.icon_RAS2014{background:url('../image/menuIcon/3_4_14_Change_Transfer_State_16.png') no-repeat;}
.icon_RAS2015{background:url('../image/menuIcon/3_4_15_Change_Association_State_16.png') no-repeat;}
.icon_RAS2016{background:url('../image/menuIcon/3_4_16_Change_Access_Mode_State_16.png') no-repeat;}
.icon_RAS2017{background:url('../image/menuIcon/3_4_17_Change_Reservation_State_16.png') no-repeat;}
.icon_EDC2000,.icon_EDC2001{background:url('../image/menuIcon/3_5_1_Collect_Lot_Data_16.png') no-repeat;}
.icon_EDC2002{background:url('../image/menuIcon/3_5_2_Change_Lot_Data_16.png') no-repeat;}
.icon_EDC2003{background:url('../image/menuIcon/3_5_3_Change_Resource_Data_16.png') no-repeat;}
.icon_EDC2004{background:url('../image/menuIcon/3_5_4_Delete_Lot_Data_History_16.png') no-repeat;}
.icon_EDC2005{background:url('../image/menuIcon/3_5_5_Delete_Resource_Data_History_16.png') no-repeat;}
.icon_INV2001{background:url('../image/menuIcon/3_2_1_In_Store_16.png') no-repeat;}
.icon_INV2000,.icon_INV2002{background:url('../image/menuIcon/3_2_2_Out_Store_16.png') no-repeat;}
.icon_INV2003{background:url('../image/menuIcon/3_2_3_Transfer_Store_16.png') no-repeat;}
.icon_INV2004{background:url('../image/menuIcon/3_2_4_Convert_Inventory_Type_to_Lot_16.png') no-repeat;}
.icon_INV2005{background:url('../image/menuIcon/3_2_5_Convert_Lot_to_Inventory_Type_16.png') no-repeat;}
.icon_INV2006{background:url('../image/menuIcon/3_2_6_Consume_16.png') no-repeat;}
.icon_INV2007{background:url('../image/menuIcon/3_2_7_Scrap_16.png') no-repeat;}
.icon_INV2008{background:url('../image/menuIcon/3_2_8_Delete_Inventory_History_16.png') no-repeat;}
.icon_WIP1000,.icon_WIP1001{background:url('../image/menuIcon/2_4_1_Factory_Setup_16.png') no-repeat;}
.icon_WIP1002{background:url('../image/menuIcon/2_4_2_Material_Setup_16.png') no-repeat;}
.icon_WIP1003{background:url('../image/menuIcon/2_4_3_Flow_Setup_16.png') no-repeat;}
.icon_WIP1004{background:url('../image/menuIcon/2_4_4_Operation_Setup_16.png') no-repeat;}
.icon_WIP1005{background:url('../image/menuIcon/2_4_5_Rework_Flow_Setup_16.png') no-repeat;}
.icon_WIP1006{background:url('../image/menuIcon/2_4_7_Cycle_Time_Setup_16.png') no-repeat;}
.icon_WIP1007{background:url('../image/menuIcon/2_4_8_Calendar_Setup_16.png') no-repeat;}
.icon_WIP1008{background:url('../image/menuIcon/2_4_9_Calendar_Setup_Detail_16.png') no-repeat;}
.icon_WIP1009{background:url('../image/menuIcon/2_4_6_Repair_Operation_Setup_16.png') no-repeat;}
.icon_WIP1010{background:url('../image/menuIcon/2_4_11_Future_Action_Setup_16.png') no-repeat;}
.icon_WIP1011{background:url('../image/menuIcon/2_4_12_Queue_Time_Setup_16.png') no-repeat;}
.icon_WIP1013{background:url('../image/menuIcon/2_4_10_SubLot_Option_Setup_16.png') no-repeat;}
.icon_WIP1016{background:url('../image/menuIcon/2_4_14_MFO_Option_Setup_16.png') no-repeat;}
.icon_WIP1017{background:url('../image/menuIcon/2_4_15_Yield_Setup_16.png') no-repeat;}
.icon_WIP1018{background:url('../image/menuIcon/2_4_16_ID_Generator_Setup_16.png') no-repeat;}
.icon_WIP1019{background:url('../image/menuIcon/2_4_17_ID_Generator_Relation_Setup_16.png') no-repeat;}
.icon_WIP1020{background:url('../image/menuIcon/2_4_18_Batch_Creation_Rule_Setup_16.png') no-repeat;}
.icon_WIP1021{background:url('../image/menuIcon/2_4_19_Batch_Creation_Rule_Relation_Setup_16.png') no-repeat;}
.icon_WIP1012{background:url('../image/menuIcon/2_4_13_Batch_Keep_Flag_Setup_16.png') no-repeat;}
.icon_RCP1000,.icon_RCP1001{background:url('../image/menuIcon/2_8_1_Recipe_Setup_16.png') no-repeat;}
.icon_RCP1002{background:url('../image/menuIcon/2_8_2_Recipe_Version_Setup_16.png') no-repeat;}
.icon_RCP1003{background:url('../image/menuIcon/2_8_3_Approval_and_Release_Setup_16.png') no-repeat;}
.icon_RCP1004{background:url('../image/menuIcon/2_8_4_Attach_Recipe_To_MFO_Setup_16.png') no-repeat;}
.icon_SVM1000,.icon_SVM1002{background:url('../image/menuIcon/2_14_2_Member_Setup_16.png') no-repeat;}
.icon_SVM1001{background:url('../image/menuIcon/2_14_1_Service_Member_Setup_16.png') no-repeat;}
.icon_SVM1003{background:url('../image/menuIcon/2_14_3_Active_Service_Version_Setup_16.png') no-repeat;}
.icon_SVM1004{background:url('../image/menuIcon/2_14_4_Service_User_Routine_Setup_16.png') no-repeat;}
.icon_WFM0001,.icon_WFM1000{background:url('../image/menuIcon/2_15_1_WIP_Modeler_16.png') no-repeat;}
.icon_WFM2000{background:url('../image/menuIcon/2_15_2_RAS_Modeler_16.png') no-repeat;}

.icon_BOM2000,.icon_BOM2001{background:url('../image/menuIcon/3_3_1_Assembly_Lot_16.png') no-repeat;}
.icon_BOM2002{background:url('../image/menuIcon/3_3_2_Disassemble_Lot_16.png') no-repeat;}
.icon_BOM2003{background:url('../image/menuIcon/3_3_3_Replace_16.png') no-repeat;}
.icon_BOM2004{background:url('../image/menuIcon/3_3_4_Delete_BOM_History_16.png') no-repeat;}

/* toolbar icon style */
.appTool .icon_FAV1001{background:url('../image/menuIcon/1_1_14_Favorite_Setup_32.png') no-repeat;}
.appTool .icon_MSG1001{background:url('../image/menuIcon/2_1_1_Message_Setup_32.png') no-repeat;}
.appTool .icon_SEC1002{background:url('../image/menuIcon/2_2_2_Security_Group_Setup_32.png') no-repeat;}
.appTool .icon_SEC1003{background:url('../image/menuIcon/2_2_4_Function_Setup_32.png') no-repeat;}
.appTool .icon_SEC1004{background:url('../image/menuIcon/2_2_3_Assign_Function_to_Security_Group_32.png') no-repeat;}
.appTool .icon_SEC1006{background:url('../image/menuIcon/2_2_6_Privilege_Group_User_Relation_Setup_32.png') no-repeat;}
.appTool .icon_SEC1007{background:url('../image/menuIcon/2_2_7_Privilege_Definition_Setup_32.png') no-repeat;}
.appTool .icon_GCM1001{background:url('../image/menuIcon/2_3_1_General_Code_Table_Setup_32.png') no-repeat;}
.appTool .icon_GCM1002{background:url('../image/menuIcon/2_3_2_General_Code_Data_Setup_32.png') no-repeat;}
.appTool .icon_ALM1001{background:url('../image/menuIcon/2_10_1_Alarm_Setup_32.png') no-repeat;}
.appTool .icon_ALM1002{background:url('../image/menuIcon/2_10_2_Attach_Alarm_to_MFOResource_32.png') no-repeat;}
.appTool .icon_BAS1001{background:url('../image/menuIcon/2_12_1_Attribute_Setup_32.png') no-repeat;}
.appTool .icon_BAS1002{background:url('../image/menuIcon/2_12_2_Global_Option_Setup_32.png') no-repeat;}
.appTool .icon_RAS1000{background:url('../image/menuIcon/2_12_2_Global_Option_Setup_32.png') no-repeat;}
.appTool .icon_RAS1001{background:url('../image/menuIcon/2_6_1_Resource_Setup_32.png') no-repeat;}
.appTool .icon_RAS1003{background:url('../image/menuIcon/2_6_2_Resource_Group_Setup_32.png') no-repeat;}
.appTool .icon_RAS1015{background:url('../image/menuIcon/2_6_3_Resource_Resource_Group_Relation_Setup_32.png') no-repeat;}
.appTool .icon_RAS1016{background:url('../image/menuIcon/2_6_4_Resource_MFO_Relation_Setup_32.png') no-repeat;}
.appTool .icon_RAS1004{background:url('../image/menuIcon/2_6_6_Resource_Event_Relation_Setup_32.png') no-repeat;}
.appTool .icon_RAS1018{background:url('../image/menuIcon/2_6_16_Carrier_Group_Relation_Setup_32.png') no-repeat;}
.appTool .icon_RAS1008{background:url('../image/menuIcon/2_6_14_Carrier_Setup_32.png') no-repeat;}
.appTool .icon_RAS1022{background:url('../image/menuIcon/2_6_17_Carrier_Event_Setup_32.png') no-repeat;}
.appTool .icon_RAS1005{background:url('../image/menuIcon/2_6_7_Resource_Labor_Setup_32.png') no-repeat;}
.appTool .icon_RAS1007{background:url('../image/menuIcon/2_6_9_PM_Security_Setup_32.png') no-repeat;}
.appTool .icon_RAS1010{background:url('../image/menuIcon/2_6_19_Tool_Event_Setup_32.png') no-repeat;}
.appTool .icon_RAS1012{background:url('../image/menuIcon/2_6_20_Tool_Setup_32.png') no-repeat;}
.appTool .icon_RAS1013{background:url('../image/menuIcon/2_6_21_Tool_Event_Relation_Setup_32.png') no-repeat;}
.appTool .icon_RAS1020{background:url('../image/menuIcon/2_6_12_Attach_Query_to_Check_List_32.png') no-repeat;}
.appTool .icon_BOM1001{background:url('../image/menuIcon/2_5_1_BOM_Set_Setup_32.png') no-repeat;}
.appTool .icon_BOM1002{background:url('../image/menuIcon/2_5_2_Attach_Material_Setup_32.png') no-repeat;}
.appTool .icon_BOM1003{background:url('../image/menuIcon/2_5_3_Approval_and_Release_Setup_32.png') no-repeat;}
.appTool .icon_EDC1001{background:url('../image/menuIcon/2_7_1_Character_Setup_32.png') no-repeat;}
.appTool .icon_EDC1002{background:url('../image/menuIcon/2_7_2_Collection_Set_Setup_32.png') no-repeat;}
.appTool .icon_EDC1003{background:url('../image/menuIcon/2_7_3_Attach_Character_32.png') no-repeat;}
.appTool .icon_EDC1004{background:url('../image/menuIcon/2_7_4_Attach_Collection_Set_to_MFO_32.png') no-repeat;}
.appTool .icon_EDC1005{background:url('../image/menuIcon/2_7_5_Approval_and_Release_32.png') no-repeat;}
.appTool .icon_RTD1001{background:url('../image/menuIcon/2_9_3_Dispatcher_Setup_32.png') no-repeat;}
.appTool .icon_RTD1002{background:url('../image/menuIcon/2_9_1_Dispatcher_Rule_Setup_32.png') no-repeat;}
.appTool .icon_RTD1003{background:url('../image/menuIcon/2_9_5_Dispatcher_Relation_Setup_32.png') no-repeat;}
.appTool .icon_RTD1004{background:url('../image/menuIcon/2_9_4_Dispatcher_Simulation_Setup_32.png') no-repeat;}
.appTool .icon_RTD1005{background:url('../image/menuIcon/2_9_2_Dispatcher_Rule_Item_Setup_32.png') no-repeat;}
.appTool .icon_RTD1006{background:url('../image/menuIcon/2_9_6_Reference_Operation_Setup_32.png') no-repeat;}
.appTool .icon_RTD1007{background:url('../image/menuIcon/2_9_7_Dispatch_Event_Configuration_Setup_32.png') no-repeat;}
.appTool .icon_QCM1001{background:url('../image/menuIcon/2_11_1_Sampling_Procedure_Setup_32.png') no-repeat;}
.appTool .icon_QCM1002{background:url('../image/menuIcon/2_11_2_Inspection_Item_Setup_32.png') no-repeat;}
.appTool .icon_QCM1003{background:url('../image/menuIcon/2_11_3_Inspection_Set_Setup_32.png') no-repeat;}
.appTool .icon_QCM1004{background:url('../image/menuIcon/2_11_4_Attach_Inspection_Item_to_Version_32.png') no-repeat;}
.appTool .icon_QCM1005{background:url('../image/menuIcon/2_11_5_Approval_and_Release_Inspection_Set_Version_32.png') no-repeat;}
.appTool .icon_QCM1006{background:url('../image/menuIcon/2_11_6_Inspection_Material_Setup_32.png') no-repeat;}
.appTool .icon_POP1001{background:url('../image/menuIcon/2_13_1_Label_Setup_32.png') no-repeat;}
.appTool .icon_POP1002{background:url('../image/menuIcon/2_13_2_Label_Design_Setup_32.png') no-repeat;}
.appTool .icon_POP1003{background:url('../image/menuIcon/2_13_3_Material_Label_Setup_32.png') no-repeat;}
.appTool .icon_POP1004{background:url('../image/menuIcon/2_13_4_Image_Setup_32.png') no-repeat;}
.appTool .icon_WIP2001{background:url('../image/menuIcon/3_1_1_Create_Lot_32.png') no-repeat;}
.appTool .icon_WIP2003{background:url('../image/menuIcon/3_1_3_Multi_Start_Lot_32.png') no-repeat;}
.appTool .icon_WIP2060,.appTool .icon_WIP2062{background:url('../image/menuIcon/3_1_2_Start_Lot_32.png') no-repeat;}
.appTool .icon_WIP2004,.appTool .icon_WIP2063,.appTool .icon_WIP2061{background:url('../image/menuIcon/3_1_4_End_Lot_32.png') no-repeat;}
.appTool .icon_WIP2005{background:url('../image/menuIcon/3_1_5_Multi_End_Lot_32.png') no-repeat;}
.appTool .icon_WIP2006{background:url('../image/menuIcon/3_1_6_Move_Lot_32.png') no-repeat;}
.appTool .icon_WIP2022{background:url('../image/menuIcon/3_1_18_Ship_Lot_32.png') no-repeat;}
.appTool .icon_WIP2007{background:url('../image/menuIcon/3_1_8_Rework_Lot_32.png') no-repeat;}
.appTool .icon_WIP2024{background:url('../image/menuIcon/3_1_10_Repair_End_Lot_32.png') no-repeat;}
.appTool .icon_WIP2025{background:url('../image/menuIcon/3_1_11_Local_Repair_Lot_32.png') no-repeat;}
.appTool .icon_WIP2009{background:url('../image/menuIcon/3_1_13_Merge_Lot_32.png') no-repeat;}
.appTool .icon_WIP2010{background:url('../image/menuIcon/3_1_14_Combine_Lot_32.png') no-repeat;}
.appTool .icon_WIP2013{background:url('../image/menuIcon/3_1_17_Release_Lot_32.png') no-repeat;}
.appTool .icon_WIP2014{background:url('../image/menuIcon/3_1_18_Ship_Lot_32.png') no-repeat;}
.appTool .icon_WIP2015{background:url('../image/menuIcon/3_1_19_Receive_Lot_32.png') no-repeat;}
.appTool .icon_WIP2017{background:url('../image/menuIcon/3_1_21_Loss_Lot_32.png') no-repeat;}
.appTool .icon_WIP2018{background:url('../image/menuIcon/3_1_22_Bonus_Lot_32.png') no-repeat;}
.appTool .icon_WIP2026{background:url('../image/menuIcon/3_1_23_Store_Lot_32.png') no-repeat;}
.appTool .icon_WIP2049{background:url('../image/menuIcon/3_1_35_Multi_Terminate_Lot_32.png') no-repeat;}
.appTool .icon_WIP2019,.appTool .icon_WIP2059{background:url('../image/menuIcon/3_1_25_Delete_Lot_History_32.png') no-repeat;}
.appTool .icon_WIP2054{background:url('../image/menuIcon/3_1_37_Unreserve_Lot_32.png') no-repeat;}
.appTool .icon_WIP2021{background:url('../image/menuIcon/3_1_27_Close_Return_Lot_32.png') no-repeat;}
.appTool .icon_WIP2029{background:url('../image/menuIcon/3_1_29_Release_Batch_32.png') no-repeat;}
.appTool .icon_WIP2050{background:url('../image/menuIcon/3_1_38_Make_SubLot_Batch_32.png') no-repeat;}
.appTool .icon_WIP2051{background:url('../image/menuIcon/3_1_39_Reserve_Lot_Batch_32.png') no-repeat;}
.appTool .icon_WIP2052{background:url('../image/menuIcon/3_1_40_Reserve_SubLot_Batch_32.png') no-repeat;}
.appTool .icon_WIP2030{background:url('../image/menuIcon/3_1_30_Start_Batch_32.png') no-repeat;}
.appTool .icon_WIP2031{background:url('../image/menuIcon/3_1_31_End_Batch_32.png') no-repeat;}
.appTool .icon_WIP2033{background:url('../image/menuIcon/3_1_33_Clean_Lot_Defect_32.png') no-repeat;}
.appTool .icon_WIP2035{background:url('../image/menuIcon/3_6_1_Start_Sub_Lot_32.png') no-repeat;}
.appTool .icon_WIP2036{background:url('../image/menuIcon/3_6_2_End_Sub_Lot_32.png') no-repeat;}
.appTool .icon_WIP2037{background:url('../image/menuIcon/3_6_3_Rework_Sub_Lot_32.png') no-repeat;}
.appTool .icon_WIP2040{background:url('../image/menuIcon/3_6_7_Merge_Extension_32.png') no-repeat;}
.appTool .icon_WIP2041{background:url('../image/menuIcon/3_6_8_Combine_Extension_32.png') no-repeat;}
.appTool .icon_WIP2034,.appTool .icon_WIP2043{background:url('../image/menuIcon/3_6_10_Sort_Extension_32.png') no-repeat;}
.appTool .icon_WIP2044{background:url('../image/menuIcon/3_6_11_Change_CMF_Value_WIP_32.png') no-repeat;}
.appTool .icon_RAS2001{background:url('../image/menuIcon/3_4_1_Event_32.png') no-repeat;}
.appTool .icon_RAS2002{background:url('../image/menuIcon/3_4_3_Delete_Resource_History_32.png') no-repeat;}
.appTool .icon_RAS2010{background:url('../image/menuIcon/3_4_4_Delete_Sub_Resource_History_32.png') no-repeat;}
.appTool .icon_RAS2003{background:url('../image/menuIcon/3_4_5_Clean_Carrier_32.png') no-repeat;}
.appTool .icon_RAS2004{background:url('../image/menuIcon/3_4_6_Attach_Lot_to_Carrier_32.png') no-repeat;}
.appTool .icon_RAS2008{background:url('../image/menuIcon/3_4_7_Attach_Carrier_to_Lot_32.png') no-repeat;}
.appTool .icon_RAS2009{background:url('../image/menuIcon/3_4_8_Assign_Sublot_to_Carrier_32.png') no-repeat;}
.appTool .icon_RAS2012{background:url('../image/menuIcon/3_4_9_Carrier_ChangeExchange_32.png') no-repeat;}
.appTool .icon_RAS2006{background:url('../image/menuIcon/3_4_12_Delete_Tool_History_32.png') no-repeat;}
.appTool .icon_RAS2014{background:url('../image/menuIcon/3_4_14_Change_Transfer_State_32.png') no-repeat;}
.appTool .icon_RAS2015{background:url('../image/menuIcon/3_4_15_Change_Association_State_32.png') no-repeat;}
.appTool .icon_RAS2016{background:url('../image/menuIcon/3_4_16_Change_Access_Mode_State_32.png') no-repeat;}
.appTool .icon_RAS2017{background:url('../image/menuIcon/3_4_17_Change_Reservation_State_32.png') no-repeat;}
.appTool .icon_EDC2001{background:url('../image/menuIcon/3_5_1_Collect_Lot_Data_32.png') no-repeat;}
.appTool .icon_EDC2002{background:url('../image/menuIcon/3_5_2_Change_Lot_Data_32.png') no-repeat;}
.appTool .icon_EDC2003{background:url('../image/menuIcon/3_5_3_Change_Resource_Data_32.png') no-repeat;}
.appTool .icon_EDC2004{background:url('../image/menuIcon/3_5_4_Delete_Lot_Data_History_32.png') no-repeat;}
.appTool .icon_EDC2005{background:url('../image/menuIcon/3_5_5_Delete_Resource_Data_History_32.png') no-repeat;}
.appTool .icon_INV2001{background:url('../image/menuIcon/3_2_1_In_Store_32.png') no-repeat;}
.appTool .icon_INV2002{background:url('../image/menuIcon/3_2_2_Out_Store_32.png') no-repeat;}
.appTool .icon_INV2003{background:url('../image/menuIcon/3_2_3_Transfer_Store_32.png') no-repeat;}
.appTool .icon_INV2004{background:url('../image/menuIcon/3_2_4_Convert_Inventory_Type_to_Lot_32.png') no-repeat;}
.appTool .icon_INV2005{background:url('../image/menuIcon/3_2_5_Convert_Lot_to_Inventory_Type_32.png') no-repeat;}
.appTool .icon_INV2006{background:url('../image/menuIcon/3_2_6_Consume_32.png') no-repeat;}
.appTool .icon_INV2007{background:url('../image/menuIcon/3_2_7_Scrap_32.png') no-repeat;}
.appTool .icon_INV2008{background:url('../image/menuIcon/3_2_8_Delete_Inventory_History_32.png') no-repeat;}
.appTool .icon_WIP1001{background:url('../image/menuIcon/2_4_1_Factory_Setup_32.png') no-repeat;}
.appTool .icon_WIP1002{background:url('../image/menuIcon/2_4_2_Material_Setup_32.png') no-repeat;}
.appTool .icon_WIP1003{background:url('../image/menuIcon/2_4_3_Flow_Setup_32.png') no-repeat;}
.appTool .icon_WIP1004{background:url('../image/menuIcon/2_4_4_Operation_Setup_32.png') no-repeat;}
.appTool .icon_WIP1005{background:url('../image/menuIcon/2_4_5_Rework_Flow_Setup_32.png') no-repeat;}
.appTool .icon_WIP1006{background:url('../image/menuIcon/2_4_7_Cycle_Time_Setup_32.png') no-repeat;}
.appTool .icon_WIP1007{background:url('../image/menuIcon/2_4_8_Calendar_Setup_32.png') no-repeat;}
.appTool .icon_WIP1008{background:url('../image/menuIcon/2_4_9_Calendar_Setup_Detail_32.png') no-repeat;}
.appTool .icon_WIP1009{background:url('../image/menuIcon/2_4_6_Repair_Operation_Setup_32.png') no-repeat;}
.appTool .icon_WIP1010{background:url('../image/menuIcon/2_4_11_Future_Action_Setup_32.png') no-repeat;}
.appTool .icon_WIP1011{background:url('../image/menuIcon/2_4_12_Queue_Time_Setup_32.png') no-repeat;}
.appTool .icon_WIP1013{background:url('../image/menuIcon/2_4_10_SubLot_Option_Setup_32.png') no-repeat;}
.appTool .icon_WIP1016{background:url('../image/menuIcon/2_4_14_MFO_Option_Setup_32.png') no-repeat;}
.appTool .icon_WIP1017{background:url('../image/menuIcon/2_4_15_Yield_Setup_32.png') no-repeat;}
.appTool .icon_WIP1018{background:url('../image/menuIcon/2_4_16_ID_Generator_Setup_32.png') no-repeat;}
.appTool .icon_WIP1019{background:url('../image/menuIcon/2_4_17_ID_Generator_Relation_Setup_32.png') no-repeat;}
.appTool .icon_WIP1020{background:url('../image/menuIcon/2_4_18_Batch_Creation_Rule_Setup_32.png') no-repeat;}
.appTool .icon_WIP1021{background:url('../image/menuIcon/2_4_19_Batch_Creation_Rule_Relation_Setup_32.png') no-repeat;}
.appTool .icon_WIP1012{background:url('../image/menuIcon/2_4_13_Batch_Keep_Flag_Setup_32.png') no-repeat;}
.appTool .icon_RCP1001{background:url('../image/menuIcon/2_8_1_Recipe_Setup_32.png') no-repeat;}
.appTool .icon_RCP1002{background:url('../image/menuIcon/2_8_2_Recipe_Version_Setup_32.png') no-repeat;}
.appTool .icon_RCP1003{background:url('../image/menuIcon/2_8_3_Approval_and_Release_Setup_32.png') no-repeat;}
.appTool .icon_RCP1004{background:url('../image/menuIcon/2_8_4_Attach_Recipe_To_MFO_Setup_32.png') no-repeat;}
.appTool .icon_SVM1002{background:url('../image/menuIcon/2_14_2_Member_Setup_32.png') no-repeat;}
.appTool .icon_SVM1001{background:url('../image/menuIcon/2_14_1_Service_Member_Setup_32.png') no-repeat;}
.appTool .icon_SVM1003{background:url('../image/menuIcon/2_14_3_Active_Service_Version_Setup_32.png') no-repeat;}
.appTool .icon_SVM1004{background:url('../image/menuIcon/2_14_4_Service_User_Routine_Setup_32.png') no-repeat;}
.appTool .icon_WFM1000{background:url('../image/menuIcon/2_15_1_WIP_Modeler_32.png') no-repeat;}
.appTool .icon_WFM2000{background:url('../image/menuIcon/2_15_2_RAS_Modeler_32.png') no-repeat;}