<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mesplus.RPT.dao.ReportDao">

	<resultMap id="ReportMap" type="com.mesplus.RPT.model.Report">
		<result property="factory"/>
		<result property="rpt_id"/>
		<result property="rpt_desc"/>
		<result property="area"/>
		<result property="lot_id"/>
		<result property="oper_id"/>
		<result property="oper_desc"/>
		<result property="mat_id"/>
		<result property="mat_desc"/>
		<result property="oper_sts"/>
		<result property="ord_id"/>
		<result property="mat_qty"/>
		<result property="report_view"/>
		<result property="insp_id"/>
		<result property="plan_qty"/>
		<result property="finished_qty"/>
	</resultMap>

	<select id="selectReports" resultMap="ReportMap">
		SELECT * 
		FROM mrptmfgmgt
	</select>

	<select id="findReport" parameterType="string" resultMap="ReportMap">
		SELECT * 
		FROM mrptmfgmgt WHERE
		rpt_id = #{rpt_id}
	</select>
</mapper>