<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mesplus.CMN.dao.FavoriteDao">

	<resultMap id="FavoriteMap" type="com.mesplus.CMN.model.Favorite">
		<result property="factory" />
		<result property="program_id" />
		<result property="user_id" />
		<result property="seq_num" />
		<result property="func_name" />
		<result property="user_func_desc" />
	</resultMap>

	<select id="select" parameterType="hashmap" resultMap="FavoriteMap">
		SELECT *
		FROM MSECUSRFUN
		WHERE FACTORY = #{factory}
		AND PROGRAM_ID = 'MESClient'
		AND USER_ID = #{user}
		ORDER BY SEQ_NUM ASC
	</select>

</mapper>
