<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mesplus.NAM.dao.NamReportDao">

	<resultMap id="ReportMap" type="com.mesplus.NAM.model.Report">
		<result property="report_id" />
		<result property="report_desc" />
		<result property="report_view" />
	</resultMap>

	<select id="reports" resultMap="ReportMap">
		SELECT *
		FROM REPORT
	</select>


	<resultMap id="Report001Map" type="com.mesplus.NAM.model.Report001">
		<result property="location" />
		<result property="lot_id" />
		<result property="oper_id" />
		<result property="oper_desc" />
		<result property="mat_id" />
		<result property="mat_desc" />
		<result property="data1" />
		<result property="data2" />
	</resultMap>

	<select id="report001" resultMap="Report001Map">
		SELECT *
		FROM REPORT001
	</select>

</mapper>